/TP4conversionCelsius/JavaApplication40/nbproject/private/
/TP4ConversionCelsius/nbproject/private/
/TP4ConversionCelsius/build/
/TP5ListaProductos/nbproject/private/
/TP5ListaProductos/build/
/TP6DeTodoSA/TP6DeTodoSA/nbproject/private/
/TP6DeTodoSA/TP6DeTodoSA/build/
/TP6DeTodoSA/TP6DeTodoSA/dist/
